{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Научно-исследовательский отдел</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <!--    <link href="{% static 'base/fonts/play.ttf' %}" rel="stylesheet" media="screen">-->

    <title>Внесение новой формы</title>
</head>
<body>
<div class="text-center">
    <br>
    <br>

    <img src="{% static 'base/img/eralash.jpg' class='rounded mx-auto d-block' alt='' %}">
    <h2>Новая публикация успешно добавлена в базу.</h2>
    </div>
</body>
</html>